@page
@model OnePiece.Pages_Proposals.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Historique</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Trésor
            </th>
            <th>
                Proposition
            </th>
            <th>
               Contre-Offre
            </th>
            <th>
               Création
            </th>
            <th>
                Réponse
            </th>
            <th>
                Titulaire
            </th>
            <th>
                Acheteur
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Proposal) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProposedTreasure.Denomination)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ProposedOfferAmount)฿
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CounterOfferAmount)฿
            </td>
            <td>
                @(string.Format("{0:yyyy-MM-dd}", item.DateProposal))
            </td>
            <td>
                @(string.Format("{0:yyyy-MM-dd}", item.DateReplyProposal))
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProposingPirate.Denomination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingPirate.Denomination)
            </td>
            <td>
                @switch (item.State)
                {
                    case 1:
                        <span class="state-pending">En Attente</span>
                        break;
                    case 2:
                        <span class="state-validated">Validé</span>
                        break;
                    case 3:
                        <span class="state-paid">Payé</span>
                        break;
                    case 0:
                        <span class="state-paid">Refusé</span>
                        break;
                }
            </td>
            @* <td> *@
            @*     <a asp-page="./Edit" asp-route-id="@item.ProposalID">Edit</a> | *@
            @*     <a asp-page="./Details" asp-route-id="@item.ProposalID">Details</a> | *@
            @*     <a asp-page="./Delete" asp-route-id="@item.ProposalID">Delete</a> *@
            @* </td> *@
        </tr>
}
    </tbody>
</table>
