@page
@model OnePiece.Pages_Proposals.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Historique</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Proposal[0].ProposedOfferAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proposal[0].CounterOfferAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proposal[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proposal[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proposal[0].DateProposal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proposal[0].DateReplyProposal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proposal[0].ProposedTreasure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proposal[0].ProposingPirate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proposal[0].RequestingPirate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Proposal) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProposedOfferAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CounterOfferAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateProposal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReplyProposal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProposedTreasure.TreasureID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProposingPirate.PirateID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingPirate.PirateID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProposalID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProposalID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProposalID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
