@page
@model MyApp.Namespace.RequestModel
@{
}

<h1>Requete</h1>
<div class="text-danger">
    <div asp-validation-summary="ModelOnly"></div>
</div>

<form method="post">
    <div style="display: flex; gap:0.5rem; align-items:center; margin-bottom:1rem;">
        <div class="form-group">
            <input class="form-control" style="margin-bottom:-1rem!important;" placeholder="Recherche" />
            <span class="text-danger" ></span>
        </div>
        <a type="submit" class="link-butt">Rechercher</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Trésor
            </th>
            <th>
                Proposeur
            </th>
            <th>
                Proposition
            </th>
            <th>
                Contre-Offre
            </th>
            <th>
                Date
            </th>
            <th>
                Catégorie
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Proposal)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProposedTreasure.Denomination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestingPirate.Denomination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProposedOfferAmount)฿
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CounterOfferAmount)฿
                </td>
                <td>
                    @(string.Format("{0:yyyy-MM-dd}", item.DateProposal))
                </td>
                <td>
                    @switch (item.Category)
                    {
                        case 0:
                            <span class="state-pending">Proposition</span>
                            break;
                        case 1:
                            <span class="state-validated">Contre-Offre</span>
                            break;
                    }
                </td>
                <td>
                    @if (item.State !=2)
                    { 
                        <a class="link-butt" asp-page-handler="Accept" asp-route-proposalID="@item.ProposalID" >Accepter</a> 
                        @if (item.Category == 0)
                        {
                            <a class="link-butt violet" style="background: violet" asp-page="./Counteroffer" asp-route-proposalID="@item.ProposalID">Proposer</a>
                        }
                        <a class="link-butt red" style="background: red" asp-page-handler="Refuse" asp-route-proposalID="@item.ProposalID" >Refuser</a>
                    }
                    @if (item.State == 2)
                    {
                        <a class="link-butt" asp-page-handler="Paiement" asp-route-proposalID="@item.ProposalID" >Payer</a>
                        <a class="link-butt red" style="background: red" asp-page-handler="Refuse" asp-route-proposalID="@item.ProposalID" >Annuler</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" asp-page="./Home" asp-route-pageNumber="@(Model.PageNumber - 1)" aria-label="Page précédente">&lt;</a>
                    </li>

            <!-- Liens pour les numéros de page -->
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" asp-page="./Request" asp-route-pageNumber="@i">@i</a>
                    </li>
            }
                    <li class="page-item">
                        <a class="page-link" asp-page="./Request" asp-route-pageNumber="@(Model.PageNumber + 1)" aria-label="Page suivante">&gt;</a>
                    </li>
        </ul>
    </nav>
</div>