@page
@model MyApp.Namespace.RequestModel
@{
}

<h1>Historique</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Proposal[0].ProposedOfferAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proposal[0].CounterOfferAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proposal[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proposal[0].DateProposal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proposal[0].ProposedTreasure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proposal[0].RequestingPirate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Proposal)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProposedOfferAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CounterOfferAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateProposal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProposedTreasure.Denomination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestingPirate.Denomination)
                </td>
                <td>
                        <a asp-page-handler="Accept" asp-route-proposalID="@item.ProposalID" >Accepter</a> |
                    <a asp-page="./Details" asp-route-id="@item.ProposalID">Propose</a> |
                    <a asp-page-handler="Refuse" asp-route-proposalID="@item.ProposalID" >Refuser</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" asp-page="./Home" asp-route-pageNumber="@(Model.PageNumber - 1)" aria-label="Page précédente">&lt;</a>
                    </li>

            <!-- Liens pour les numéros de page -->
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" asp-page="./Request" asp-route-pageNumber="@i">@i</a>
                    </li>
            }
                    <li class="page-item">
                        <a class="page-link" asp-page="./Request" asp-route-pageNumber="@(Model.PageNumber + 1)" aria-label="Page suivante">&gt;</a>
                    </li>
        </ul>
    </nav>
</div>