@page
@model HomeModel
<div class="bg">
    <h2> Nouveaux Trésors </h2>
    <div class="caroussel">
            @foreach (var item in Model.TopRecentTreasures)
            {
                    <div class="treasure-details">
                        <img src="/images/login.jpg" alt=""/>
                        <div class="title-object">@Html.DisplayFor(modelItem => item.Denomination)</div>
                        <div class="subtitle">@Html.DisplayFor(modelItem => item.Category.Denomination)</div>
                        <div class="subtitle">@Html.DisplayFor(modelItem => item.Pirate.Denomination)</div>
                        <div class="description">@Html.DisplayFor(modelItem => item.Description)</div>
                        <div class= "price">@Html.DisplayFor(modelItem => item.Price)฿</div>
                        <div> <a class="link-butt" asp-page="/Proposals/Create" asp-route-TreasureID="@item.TreasureID" asp-route-PirateID="@item.Pirate.PirateID">Proposer</a></div>
                    </div>
            }
    </div>

<h2> Explorer </h2>

<div class="caroussel">
            @foreach (var item in Model.Treasure)
            {
                    <div class="treasure-details">
                        <img src="/images/login.jpg" alt=""/>
                        <div class="title-object">@Html.DisplayFor(modelItem => item.Denomination)</div>
                        <div class="subtitle">@Html.DisplayFor(modelItem => item.Category.Denomination)</div>
                        <div class="subtitle">@Html.DisplayFor(modelItem => item.Pirate.Denomination)</div>
                        <div class="description">@Html.DisplayFor(modelItem => item.Description)</div>
                            <div class= "price">@Html.DisplayFor(modelItem => item.Price)฿</div>
                        <div> <a class="link-butt" asp-page="/Proposals/Create" asp-route-TreasureID="@item.TreasureID" asp-route-PirateID="@item.Pirate.PirateID">Proposer</a></div>
                    </div>
            }
    </div>

<div>
    <!-- Pagination simple avec flèches et numéros de pages -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" asp-page="./Home" asp-route-pageNumberTopRecent="@(Model.PageNumber - 1)" aria-label="Page précédente">&lt;</a>
                    </li>

            <!-- Liens pour les numéros de page -->
                @for (var i = 1; i <= Model.TotalPages; i++)
                {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" asp-page="./Home" asp-route-pageNumber="@i">@i</a>
                        </li>
                }
                    <li class="page-item">
                        <a class="page-link" asp-page="./Home" asp-route-pageNumber="@(Model.PageNumber+ 1)" aria-label="Page suivante">&gt;</a>
                    </li>
        </ul>
    </nav>
</div>
</div>

